.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination__disable {
  opacity: 0;
}

.pagination__selected {
  background-color: rgb(220, 220, 220);
}
.pagination__indexes {
  display: flex;
  gap: 10px;
  margin: 0 10px;
  flex-wrap: wrap;
}
